* {
  /* outline: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}

/* responsive Images */
img {
  max-width: 100%;
}

.design {
  position: absolute;
  z-index: -1;
  opacity: 1;
  width: 375px;
}

.card {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-name {
  font-family: "Fraunces", serif;
  color: black;
  font-size: 2.3em;
  line-height: 1;
}

.product-type {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.price-old {
  text-decoration: line-through;
}

.price-new {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 2.3em;
  font-weight: 700;
}

.price {
  display: flex;
  align-items: center;
  gap: 1em;
}

.cart-btn {
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: white;
  height: 3em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
}

.product-description {
  line-height: 1.5;
  font-weight: 500;
}
